* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #fff;
  padding: 1em 1em 0 1em;
  overflow-x: hidden;
}

html::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #0891b2;
  width: 100%;
  height: 500px;
  clip-path: polygon(0% 0%, -140% 100%, 200% 0%);
  z-index: -1;
}

.header {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.header > img {
  max-width: 100%;
  object-fit: cover;
}
.img-container {
  width: 100%;
}
.img-container > img {
  width: 100%;
}
.project-thumb > a > img {
  width: 100%;
  object-fit: cover;
}

.title-container {
  position: relative;
  transform-origin: center;
  transform: translateY(-100%);
  font-size: 13.5vw;
  line-height: 0.8;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
  z-index: 1;
}

.main-content {
  position: relative;
  top: -6em;
}
.subtitle-container > h2,
.projects > h2, .contact-container > h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 300;
}
.text-container {
  padding: 1em 0;
}
.text-container > p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  font-size: 1.4rem;
  line-height: 1.4em;
}

.about-card {
  margin-bottom: 8em;
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.social-media-container > a > img {
  width: 3em;
}


.projects > h2 {
  margin-bottom: 1em;
}

.project-links a > img {
  width: 2em;
}
.description-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 1em;
  padding-right: 0.8em;
  padding-left: 2em;
}

.description-text p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 1em;
  padding-right: 1.8em;
  padding-top: 1em;
  padding-bottom: 4em;
}

.description-header h3 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.project-description {
  box-shadow: 0px 1px 7px 0px #91868692;
}
.card {
  padding: 2em 0;
  margin: 1em 0;
}

.contact-me {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #0891b2;
  margin-left: -1em;
  margin-right: 0;
  width: 100vw; 
}
.footer-social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  gap:1em;
  padding-top:1em;
  padding-bottom: 4em;
}
.footer-social-media > a > img {
  width: 3em;
}

.img-container > img {
  position: absolute;
  min-height: 25vh;
  object-fit: cover;
}

.contact-container > h2 {
  color:#ffffff;
  padding-top: .5em;
  margin-bottom: .5em;
}

.dev-info-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  gap:1.5em;
  padding-left: 2em;
  padding-right: .8em;
  color:#ffffff;
}

.message-box p {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.address-box > p, .contact-box > p {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.contact-box {
  line-height: 1.8em;
}

@media (min-width: 600px) and (max-width: 1200px) {
  body {
    /* background-color: rgb(37, 132, 17); */
  }
  header{
    display: block;
    width: 45vw;
    padding: 2em;
    float: left;
  }

  header img{
    transform: rotateY(180deg);
    z-index: 1;
    padding: 0;
    margin-left: 4em;
    margin-top: 1em;
  }

  .social-media-container {
    visibility: hidden;
  }

  .title{
    position: absolute;
    right: 0.2em;
    top: 1em;
    font-size: 10vw;
    font-weight: 300;
  }

  .about-card {
    position: relative;
    background-color: #ffffff;
    top:14em;
    left: 4em;
    width: 65vw;
    box-shadow: 2px 2px 8px #25222240;
    margin-bottom: 19em;
    margin-top: 14em;
    margin-left: 6em;
  }

  .subtitle-container h2 {
    padding-top: 2em;
  }

  .text-container{
    padding: 1em;
  }

  .text-container + p {
    position: relative;
    text-align: justify;
    display: inline;
    line-height: 1.3em;
    
  }

  .main-content {
    top: -15em;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: dodgerblue;
  }
}
